.about
  height: auto
  &__background
    background: url("../img/about/about__bg.jpg") center / cover no-repeat
  &__header
    padding-top: 32px
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 768px)
      align-items: baseline



