.about
  height: auto
  &__background
    background: url("../img/about/about__bg.png") center / cover no-repeat
    background-color: $about-background
  &__header
    padding-top: 32px
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 768px)
      align-items: baseline
  &__items
    display: flex
    flex-direction: revert
    padding-top: 120px
    padding-bottom: 120px



