.contacts
  &__background
    background: url("../img/contacts/contacts__bg.png") center / cover no-repeat
    background-color: $contacts-background
  &__items
    width: 100%
    padding: 120px 15px
    display: flex



