.services
  &__background
    background: url("../img/services/services__bg.png") center / cover no-repeat
    background-color: $services-background
  &__items
    display: flex
    flex-wrap: wrap
    justify-content: space-between









